/* work title our master */
#divOurMasterTitle {
    margin: 0 40px;
}

#ourMastersId {
    width: 1280px;
    height: 890px;
    flex-shrink: 0;
}

#liLineMinTitlOM {
    width: 1px;
    height: 60px;
    transform: rotate(90deg);
    flex-shrink: 0;
    background: #FF6C00;
}

#divUlMaster {
    height: 20px;
}

#divUlMaster ul {
    display: flex;
    align-items: center;
    padding-left: 0;
}

#divUlMaster li {
    margin: 0 40px;
}

.pMinTitleWUsTitleOM {
    color: #303030;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

#divTitleMaster {
    height: 30px;
}

.h2TitleMaster {
    width: 500px;
    color: #303030;
    font-family: Raleway;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
}

/* work info our master */
#divOurMastersInfo {
    display: flex;
    margin: 60px 20px;
    margin-left: 0;
}



.nameMasters {
    color: #303030;
    text-align: center;
    font-family: "Open Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
    margin-bottom: 0;
}

.professionMasters {
    color: #FF6C00;
    text-align: center;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
    margin-top: 10px;
    margin-bottom: 0;
}


/* work with social link mastres */
.ulParent {
    display: flex;

}

.ulParent {
    margin: 35px 50px;
}

.ulParent li {
    width: 70px;
    height: 44px;
    flex-shrink: 0;
    fill: #FFF;
}

.ulParent li a:hover {
    color: #FF6C00;
}

.ulParent li a:hover img {
    filter: invert(46%) sepia(97%) saturate(2777%) hue-rotate(335deg) brightness(108%) contrast(92%);
}