#serviceId {
    width: 1280px;
    height: 518px;
    flex-shrink: 0;
    background-image: url(../../../images/service1.png);
    background-size: cover;
    background-position: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#serviceId div {
    margin-left: 55px;
    height: auto;
}

#divMiniTitleService {
    margin-top: 60px;
    position: relative;
}

#liLineMiniTitleServiceId {
    width: 1px;
    height: 60px;
    transform: rotate(90deg);
    background: #FF6C00;
    flex-shrink: 0;
}

#divMiniTitleService ul {
    display: flex;
    align-items: center;
    padding-left: 0;
}

#divMiniTitleService li {
    margin: 0 30px;
}

.miniTitleServiceClass {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

#divTitleService {
    margin-top: -60px;

}

.titleServiceClass {
    color: #FFF;
    font-family: Raleway;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
}

.divProfession {
    display: flex;
    /* height: 410px; */
}

.childDivProfession {
    display: inline-block;
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.20) 100%);
    width: 340px;
    height: 500px;
    flex-shrink: 0;

}

.profDiv {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.56px;
}

.ulDivProff {
    display: flex;
    margin-left: -60px;
}

.liServieUl,
.liPriceUl {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.36px;
    width: auto;
}

.liServieUl {
    margin-right: 10px;
    text-align: left;
}

.liPriceUl {
    margin-left: 10px;
    padding-right: 5px;
    text-align: right;
}

#divButtonService {
    width: auto;

    position: relative;
    margin-top: 80px;
}

#butonServie {
    position: absolute;
    color: #FFF;
    align-items: center;
    bottom: 0;
    right: 0;
    margin-right: 5px;
}

#butonServie:hover {
    color: #FF6C00;
}